*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scrollbar-gutter: stable;
}

body{
    background-color: #FBFBFB;
}

header {
    margin-top: 15px;
    color: #737373;
    background-color: #FFFFFF;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid #dddddd;

    
    @media (max-width: 992px) {

        header {
            padding-left: 0;
            margin: 0;
        }

        h4 {
            font-size: 1.1rem;
        }

        .nav-item{
            font-size: 1.1rem;
        }

    }

    @media (max-width: 768px) {

        header{
            padding-left: unset;
        }

        h4, .custom-menu-size{
            font-size: 1.1rem;
            margin: 0;
        }
        .logo {
            width: 25px;
            height: auto;
        }
    }
}

header img {
    width: 1.7rem;
}

footer {
    margin: 0;
    padding: 0;
    color: black;
    background-color: #ECECEC;

}

footer a{
    color: black;
    text-decoration: none;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &:hover{
        color: #297C07;
    }
}

nav.navbar {
    position: relative;
    width: auto;
}

.navbar-collapse {
    position: absolute;
    padding-left: 10px;
    top: 100%;
    right: 0;
    width: 120px;
    background-color: #fff;
    z-index: 999;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
}

.navbar-collapse.show {
    transform: translateX(0);
}

.navbar-nav a {
    position: relative;
    transition: color 0.3s;
}

.custom-active{
    color: #18A6D8;
}

@media (min-width: 768px) {

    .navbar-collapse {
        position: relative;
        transform: none;
        box-shadow: none;
        width: auto;
    }

    .navbar-nav {
        display: flex;
        justify-content: flex-start;
        font-size: 1.2rem;
        width: auto;

    }

    .navbar-nav a::after {
        content: '';
        position: absolute;
        bottom: 5px;
        left: 50%;
        width: 70%;
        height: 2px;
        background-color: #18A6D8;
        transform: translateX(-50%) translateY(5px);
        opacity: 0;
        transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    }

    .navbar-nav a:hover {
        color: #18A6D8;
    }

    .navbar-nav a:hover::after {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }

}

.table thead tr{
    background: none !important;
    background: radial-gradient(circle at left, #18A6D8, #1475AF, #0C1A64) !important;
}

.table thead th{
    background: none !important;
    color: white !important;
}

.custom-tfoot tr{
    background: none !important;
    background: #2794B9 !important;
}

.custom-tfoot tr td{
    background: none !important;
    color: #FFFFFF;
    font-weight: bolder;
}

.custom-gray-line {
    height: 1px;
    background-color: #FBFBFB;
    width: 100%;
}

.custom-primary-button {
    color: #FFFFFF;
    font-weight: 600;
    background-color: #2794b9;
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

    &.warning {
        color: black;
        background-color: #e8b433;
    }

    &.danger {
        background-color: #da4242;
    }

    &.success {
        background-color: #297C07;
    }

}

.custom-primary-button:hover {
    color: #FFFFFF;
    background-color: #5fb2d6;

    &.warning {
        background-color: #e4bd70;
    }

    &.danger {
        background-color: #e18787;
    }

    &.success {
        background-color: #7fdf5c;
    }

}

.custom-gray-bg-color {
    background-color: #ECECEC;
}

.error-404 {
    font-size: 10rem;
    color: lightgray;
}

.custom-color-blue {
    color: #1783a4;
}

.custom-extra-size {
    font-size: 5rem;
}
